body{
    /* Ill either use the cbus blue or another color for the background and then change the text color in the heading to match the logo */
    background-color: aliceblue;
}
.header{
    position: relative;
    text-align: center;
}
.heading{
    font-family: "Prata", sans-serif;
    color: rgb(0, 83, 155);
}
.headingSpan{
    color: rgb(227, 27, 35);
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn{
    display: grid;
    grid-template-rows: 2;
    padding: 5px 5px 0px 10px;
    margin: 0px 0px 0px 4px;
    width: fit-content;
    height: 60px;
    background-color: rgb(227, 27, 35);
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
}

.fa-stuff{
    grid-row: 1;
    font-size: xx-large;
}
.span2{
    color: black;
}
.img{
    width: 100%;
    border-radius: 5px;
}
.imgSrc{
    background-color: rgba(0, 0, 0, 50%);
    padding: 0px 10px 3px 5px;
    color: rgb(240, 248, 255, 0.75);
    position: absolute;
    top: 68px;
    left: 1px;
    font-size: small;
    border-end-end-radius: 50px;
}

/* main */
.art1{
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 5px 5px 9px;
    background-color: white;
    margin-top: 20px;
    padding: 5px;
}
.art2{
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 5px 5px 9px;
    background-color: white;
    margin-top: 20px;
    padding: 5px;
}
.art1 > p, .art2 > p{
    text-align: center;
}